<p>Dear {{prefix}} {{last_name}},</p>
<p>Your booking has been confirmed with details as the following:</p>
<p>Ticket ID: {{ticket_id}}</p>
<p>Date of issue: {{issue_date}}</p>
<p>Full Name: {{first_name}} {{middle_name}} {{last_name}}</p>
<p>Flight no.: {{flight_no}}</p>
<p><span style="text-decoration: underline;"><strong>Departure</strong></span></p>
<p>Departure airport: {{dep_airport_name}}</p>
<p>Departure date: {{dep_date}}</p>
<p>Departure time: {{departure_time}}</p>
<p><span style="text-decoration: underline;"><strong>Arrival</strong></span></p>
<p>Arrival airport: {{arr_airport_name}}</p>
<p>Arrival time: {{arrival_time}}</p>
<p>&nbsp;</p>
<p>Thank you for booking with us.</p>
<p>&nbsp;</p>
<p>AirFMS Team</p>

